[submodule "vim-colorschemes"]
	path = linux/config/vim/vim-colorschemes
	url = git://github.com/flazz/vim-colorschemes
[submodule "vim-bro"]
	path = linux/config/vim/bundle/bro
	url = git://github.com/mephux/bro.vim.git
[submodule "vim-rainbow"]
	path = linux/config/vim/bundle/rainbow
	url = git://github.com/luochen1990/rainbow
[submodule "vim-supertab"]
	path = linux/config/vim/bundle/supertab
	url = git://github.com/ervandew/supertab
[submodule "oh-my-zsh"]
	path = linux/config/zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "vim-elixir"]
	path = linux/config/vim/bundle/vim-elixir
	url = git://github.com/elixir-lang/vim-elixir.git
[submodule "vim-renamer"]
	path = linux/config/vim/bundle/vim-renamer
	url = git://github.com/qpkorr/vim-renamer
[submodule "gud-zsh"]
	path = gud-zsh
	url = https://github.com/git-gud-1/gud-zsh
[submodule "gud-vim"]
	path = gud-vim
	url = https://github.com/git-gud-1/gud-vim
